body {
    background-color: rgb(110, 95, 95);
    margin:20px;
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-diri {
    text-align: center;
    padding-top: 20px;
    
}

.profile img {
    border-radius: 200px;
    width: 300px;
    height: 300px;
}

.sosmed {
    text-align: center;
    margin: 20px;
}

.sosmed_a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: rgb(21, 16, 15);
   
    font-size: 14px;
}

.img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.table {
    border-collapse: initial;
    margin-top: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.table td{
    border:3px solid rgb(20, 23, 20);
    padding: 8px 12px;
    text-align: center;
}

.footer {
    text-align: right;
    position: relative;
    margin: 45px;
}